.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.timer {
    position: absolute;
    top: 10px;
    right: 10px;
}
.welcomeText {
    font-weight: 700;
    margin-bottom: 30px;
}