.container {
    margin-top: 30px;

}

.selectTime {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.select {
    height: 30px;
    width: 100px;
    outline: none;
    border-radius: 3px;
}

.customTime {
    margin-top: 20px;
    margin-bottom: 30px;
}

.customTime input {
    width: 200px;
    height: 30px;
    border-radius: 3px;
    outline: none;
}