/node_modules
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.expo-shared
.vscode
.next/*
.env

# macOS
.DS_Store

.vercel

deploy-project.bat
vercel.json
# Local Netlify folder
.netlify
